---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import joinus from "../../../../public/images/bg/joinus-mobile.webp";
---

<Layout title="Registartion | Employees" lang="en">
  <section class="pt-20">
    <div class="blurred-img bg-blurredjoinUs">
      <picture>
        <source media="(min-width: 480px)" srcset="/images/bg/joinus.webp" />

        <Image
          src={joinus}
          alt="logisitc_solution_bg"
          class="HeroBg absolute size-full z-0 bottom-0 object-cover object-center"
          loading="eager"
          decoding="sync"
          fetchpriority="high"
        />
      </picture>
    </div>
    <div class="container section-container flex items-center justify-center">
      <div
        class="flex flex-col items-center justify-center gap-14 lg:gap-24 py-8 px-5 lg:flex-row outline outline-1 outline-white lg:px-10 rounded-2xl backdrop-blur-sm"
      >
        <div
          class="flex flex-col gap-y-4 w-full sm:w-[500px] lg:w-1/2"
          data-animation="animate-fade-right animate-duration-[2000ms]"
        >
          <div class="space-y-1">
            <h3>we are hiring</h3>
            <h2 class="text-white text-3xl lg:text-4xl">Join our team.</h2>
          </div>
          <p class="text-white">
            Join our dynamic team and help shape the future of delivery
            management your expertise and passion can make a difference with us!
          </p>
          <div class="space-y-2 visible" id="availability-div">
            <label for="availability" class="text-white"
              >available Positions:</label
            >
            <select
              name="availability"
              id="availability"
              class="bg-white text-gray-900 text-sm rounded-lg border-0 outline-0 block w-full p-2.5"
              required
            >
              <option value="exist" disabled selected
                >Chose available position</option
              >
              <option value="1">position 1</option>
              <option value="2">position 2</option>
            </select>
          </div>
        </div>
        <div class="w-full sm:w-[500px] lg:w-1/2 overflow-hidden">
          <form action="" id="form">
            <div class="text-white space-y-6">
              <div class="space-y-2">
                <label for="fullName">Full name:</label>
                <input
                  type="text"
                  name="fullName"
                  id="fullName"
                  class="rounded-lg p-2.5 w-full border border-white text-black outline-0"
                  placeholder="Your Full Name"
                  required
                />
              </div>
              <div class="space-y-2">
                <label for="email">Email:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="rounded-lg p-2.5 w-full border border-white text-black outline-0"
                  required
                  placeholder="Your Email"
                />
              </div>
              <div class="space-y-2">
                <label for="message" class="">Your message:</label>
                <textarea
                  id="message"
                  rows="4"
                  minlength="10"
                  maxlength="255"
                  class="block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg border border-white outline-0"
                  placeholder="Tell us more about yourself..."></textarea>
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-white"
                  for="file_input">Upload your resume (PDF)</label
                >
                <input
                  class="block w-full text-sm text-gray-500 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none"
                  id="file_input"
                  type="file"
                  accept="application/pdf"
                />
              </div>
              <div class="pt-5">
                <button type="submit" value="Submit" class="button-regular"
                  >Submit</button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>
<style>
  input[type="file"]::file-selector-button {
    @apply cursor-pointer border-0 bg-primaryOrange py-2 text-white;
  }
</style>
<script src="../../../Script/BlurredImage.js"></script>
