@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Hanimation";
    src: url("/fonts/Hanimation_Arabic_Regular.otf") format("otf");
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply capitalize ltr:font-Montserrat rtl:font-Hanimation;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl rtl:leading-tight;
  }

  h2 {
    @apply text-2xl font-semibold leading-1.3 sm:text-3xl;
  }

  h3 {
    @apply text-2xl font-medium leading-none text-primaryOrange md:text-3xl;
  }

  h4 {
    @apply text-xl font-medium md:text-2xl;
  }
  h5 {
    @apply text-base font-normal tracking-widest text-primaryOrange md:text-xl;
  }
  p {
    @apply font-normal leading-7 opacity-65;
  }
}

@layer components {
  .button-regular {
    @apply w-full whitespace-nowrap rounded-md bg-primaryOrange py-3 text-base font-medium text-white antialiased shadow-Button_shadow shadow-primaryOrange/30 duration-200 ease-linear hover:bg-primaryOrange/80 active:scale-95 active:duration-100 active:ease-in-out sm:w-fit sm:px-8;
  }
  .button {
    @apply relative w-full whitespace-nowrap rounded-sm py-2 text-center text-primaryOrange antialiased ring-1 ring-primaryOrange transition-colors duration-300 ease-out hover:bg-primaryOrange hover:text-white hover:duration-300 hover:ease-in md:w-28;
  }
  .button-return {
    @apply w-full whitespace-nowrap rounded-md bg-gray-600 py-3 text-base font-medium text-white antialiased shadow-Button_shadow shadow-gray-400 duration-200 ease-linear hover:bg-gray-700 active:scale-95 active:duration-100 active:ease-in-out sm:w-fit sm:px-8;
  }
}

.section-container {
  @apply relative mx-auto max-w-7xl px-6 py-24 lg:px-10 3xl:px-0;
}
.hero {
  @apply h-[650px] 3xl:h-[800px];
}
.cta {
  @apply flex h-[400px] flex-col items-center justify-evenly;
}
.fade {
  @apply opacity-0;
}

header {
  @apply fixed top-0 z-50 w-full bg-transparent py-2 transition-colors duration-200 ease-in;
}
.header-logo {
  @apply w-24 lg:w-32;
}

.header-logo.scrolled {
  @apply hidden;
}
header.scrolled {
  @apply bg-white shadow-md duration-500 ease-out;
}

header.scrolled .nav-list {
  @apply text-black;
}

.nav-list {
  @apply fixed right-0 top-0 flex h-full w-full -translate-x-full flex-col items-start justify-center space-y-5 px-12 py-20 font-semibold text-white duration-300 ease-out sm:px-20 lg:visible lg:relative lg:top-0 lg:h-full lg:w-auto lg:translate-x-0 lg:flex-row lg:items-center lg:justify-center lg:gap-x-5 lg:space-y-0 lg:p-0;
}

.nav-list > div,
.nav-list a {
  @apply opacity-0 lg:opacity-100;
}

.nav-list.open.nav-list > div,
.nav-list.open.nav-list a {
  @apply opacity-100;
}

.nav-list.open {
  @apply h-full translate-x-0 bg-white text-black opacity-100 transition-transform duration-300 ease-in lg:bg-transparent lg:text-white;
}

.nav_item {
  @apply w-full border-b-2 pb-1 lg:relative lg:flex lg:h-full lg:w-auto lg:items-center lg:justify-center lg:border-b-0 lg:pb-0;
}

.items a,
.items > div {
  @apply duration-300 ease-out;
}

.items > div:hover,
.items a:hover,
.items a.active,
.items button:hover span {
  @apply text-primaryOrange duration-300 ease-in;
}

.nav-list > .nav_item > a.active::after {
  @apply bottom-4 left-1/2 size-[5px] rounded-full bg-primaryOrange duration-300 content-[''] lg:absolute;
}

/* language-dropdown */

.language-dropdown {
  @apply invisible top-12 z-50 w-48 list-none rounded-lg text-base will-change-auto lg:absolute lg:bg-white lg:opacity-0 lg:shadow-lg ltr:right-0 rtl:left-0;
}

#language-dropdown-menu.active {
  @apply visible opacity-100 lg:transition-opacity lg:duration-500 lg:ease-out;
}

#language-dropdown-menu.active li {
  @apply duration-700 ease-out lg:opacity-100;
}
/* solution-dropdown-menu */

.dropdown-menu {
  @apply top-16 z-50 max-h-0 w-48 overflow-hidden will-change-auto lg:invisible lg:absolute lg:flex lg:max-h-max lg:divide-y lg:divide-gray-100 lg:rounded-lg lg:bg-white lg:opacity-0 lg:shadow-lg lg:transition-opacity ltr:right-0 rtl:left-0;
}

#dropdownHoverButton.active #dropdownHover {
  @apply flex max-h-52 duration-500 ease-out lg:visible lg:opacity-100;
}

#dropdownHoverButton.active svg {
  @apply rotate-180 transition-transform duration-500 ease-in-out;
}

#dropdownHoverButton #dropdownHover a.active {
  @apply text-primaryOrange;
}

#dropdownHoverButton.active #dropdownHover li {
  @apply opacity-100 lg:duration-700 lg:ease-out;
}

/* register-menu */

.register-menu {
  @apply top-14 z-50 max-h-0 w-full overflow-hidden will-change-auto lg:invisible lg:absolute lg:flex lg:max-h-max lg:w-72 lg:divide-y lg:divide-gray-100 lg:rounded-lg lg:bg-white lg:opacity-0 lg:shadow-lg lg:transition-opacity lg:duration-200 ltr:right-0 rtl:left-0;
}

#registerMenuButton #registerMenu.active {
  @apply flex max-h-96 duration-500 ease-out lg:visible lg:opacity-100 lg:transition-opacity lg:duration-500;
}

#registerMenuButton #registerMenu ul li {
  @apply lg:opacity-0;
}

#registerMenuButton #registerMenu.active ul li {
  @apply lg:opacity-100 lg:duration-700 lg:ease-out;
}
.register_item.active {
  @apply text-primaryOrange opacity-100;
}

.register_item.active span {
  @apply text-black;
}

.menu-toggle {
  @apply relative h-6 w-6 cursor-pointer bg-none;
}

.menu-burger {
  @apply absolute left-0 h-[2px] w-full bg-primaryOrange transition-all duration-300 ease-in;
}

.burger-1 {
  @apply top-[2px];
}

.burger-2 {
  @apply top-[10px];
}

.burger-3 {
  @apply top-[18px];
}

.burger-1.burger-active {
  @apply top-[10px] rotate-45;
}

.burger-2.burger-active {
  @apply hidden;
}

.burger-3.burger-active {
  @apply top-[10px] -rotate-45;
}
@media (max-width: 1024px) {
  #nav-items a.active {
    @apply bg-primaryOrange text-white;
  }

  #nav-items a.active::after {
    display: none;
  }
}

.socials {
  @apply h-5 w-5 fill-white hover:fill-white/80 md:h-6 md:w-6;
}

.error {
  @apply border-2 border-red-700 duration-300;
}
.correct {
  @apply border-2 border-green-600 duration-300;
}
.no-scroll {
  @apply h-screen overflow-hidden;
}
.card-solution {
  @apply flex flex-col items-start justify-start gap-y-9;
}
.card-solution svg {
  @apply size-16 fill-primaryOrange;
}

.card-solution > div {
  @apply space-y-1;
}

.card-solution:nth-child(2n) {
  @apply md:pt-16;
}

.card-solution h4 {
  @apply text-2xl ltr:text-left rtl:text-right;
}
.card-solution p {
  @apply ltr:text-left rtl:text-right;
}
.benefits-card {
  @apply relative flex flex-col items-center justify-center lg:flex-row;
}
.form-elements {
  @apply hidden;
}
.form-elements.active {
  display: block;
}
.stepper.active > div {
  @apply ring-2 ring-primaryOrange;
}
.stepper p {
  @apply text-black/20;
}
.stepper.active p {
  @apply font-semibold text-primaryOrange opacity-100;
}
.stepper .icon {
  @apply text-2xl font-semibold text-black/10;
}
.stepper.active .icon {
  @apply text-primaryOrange;
}
.stepper.done div {
  @apply bg-primaryOrange;
}
.stepper.done .icon {
  @apply hidden;
}
.stepper.done .tick {
  @apply block;
}
