---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import contact_bg from "../../../public/images/bg/contact-mobile.webp";
---

<link rel="preload" href="/images/bg/contact-blurred.webp" as="image" />
<Layout title="Contact Us" lang="en">
  <section id="contact-hero" class="hero z-0">
    <div class="bg-blurredContactBg bg-fixed blurred-img">
      <picture>
        <source
          media="(min-width: 480px)"
          srcset="/images/bg/contact-lg.webp"
        />

        <Image
          src={contact_bg}
          alt="contact_bg"
          class="HeroBg fixed size-full z-0 bottom-0 object-cover object-center"
          loading="eager"
          decoding="sync"
          fetchpriority="high"
        />
      </picture>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/50 from-0% to-black/80 to-80% z-0"
    >
    </div>
    <div
      class="fade container section-container"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="text-left lg:w-3/5">
        <div class="fixed w-inherit top-2/5 3xl:top-1/2">
          <h3
            class="text-primaryOrange text-2xl md:text-4xl font-normal tracking-wider"
          >
            Contact us
          </h3>
          <h1 class="text-white">We'd Love to Hear From You!</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-lightGray">
    <div
      class="container section-container flex flex-col justify-center items-center lg:items-start gap-20"
    >
    </div>
  </section>
</Layout>
<script src="/src/Script/BlurredImage.js"></script>
