---
import QuickSupport from "../../components/QuickSupport.astro";
import Layout from "../../layouts/Layout.astro";
---

<script src="../../Script/map.js"></script>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<Layout title="Contact Us" lang="en">
  <section
    id="contact-hero"
    class="bg-contact_mobile sm:bg-contact bg-cover bg-center lg:bg-left bg-no-repeat bg-fixed hero flex items-center"
  >
    <div
      class="fade container section-container"
      data-animation="animate-fade animate-duration-[2000ms]"
    >
      <div class="space-y-5">
        <h3
          class="text-primaryOrange text-2xl md:text-4xl font-normal tracking-wider"
        >
          Contact us
        </h3>
        <h1 class="text-3xl md:text-5xl md:leading-tight text-white">
          We'd Love to Hear From You!
        </h1>
      </div>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-white" id="contact">
    <div
      class="fade flex flex-col justify-center gap-20 w-full lg:w-1/2 px-6 py-10 lg:p-20"
      data-animation="animate-fade-right animate-duration-[1500ms]"
    >
      <div class="space-y-1">
        <h3>Get in Touch</h3>
        <h2>any questions? we would be happy to help you!</h2>
      </div>
      <form class="space-y-6 md:space-y-16">
        <div class="grid md:grid-cols-2 gap-6">
          <div class="relative z-0 w-full group">
            <input
              type="text"
              name="first_name"
              id="first_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="first_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >First name</label
            >
          </div>
          <div class="relative z-0 w-full group">
            <input
              type="text"
              name="last_name"
              id="last_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="last_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Last name</label
            >
          </div>
        </div>
        <div class="grid md:grid-cols-2 gap-6">
          <div class="relative z-0 w-full group">
            <input
              type="number"
              name="number"
              id="number"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=""
              required
            />
            <label
              for="number"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Phone number</label
            >
          </div>
          <div class="relative z-0 w-full group">
            <input
              type="email"
              name="email"
              id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Email</label
            >
          </div>
        </div>
        <div class="relative z-0 w-full group">
          <textarea
            minlength="10"
            maxlength="255"
            name="message"
            id="message"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
            placeholder=" "
            required></textarea>
          <label
            for="message"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Message</label
          >
        </div>
        <button type="submit" class="button-regular">Submit</button>
      </form>
    </div>
    <div
      id="map"
      class="fade w-full h-96 lg:h-auto lg:w-1/2 z-0 relative"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
    </div>
  </section>
  <section id="contact">
    <div
      class="container section-container flex flex-col justify-center items-center lg:items-start gap-32"
    >
      <div class="text-center lg:text-left space-y-4 lg:w-1/2">
        <h3>Quick support</h3>
        <h2>Feel free to contact us by phone, email, or visit in person.</h2>
      </div>
      <QuickSupport />
    </div>
  </section>
</Layout>
