---
import Layout from "../../layouts/Layout.astro";
import Location from "../../components/Location.astro";
import QuickSupport from "../../components/QuickSupport.astro";
import { Image } from "astro:assets";
import contact_bg from "../../../public/images/bg/contact-mobile.webp";
---

<link
  rel="preload"
  href="/images/bg/contact-lg.webp"
  as="image"
  media="(min-width: 1600px)"
/>
<link
  rel="preload"
  href="/images/bg/contact-med.webp"
  as="image"
  media="(min-width: 450px)"
/>

<Layout title="Contact Us" lang="en">
  <section id="contact-hero" class="hero overflow-hidden">
    <picture>
      <source media="(min-width: 1600px)" srcset="/images/bg/contact-lg.webp" />
      <source
        media="(min-width: 450px) "
        srcset="/images/bg/contact-med.webp"
      />
      <Image
        src={contact_bg}
        alt="contact_bg"
        class="fixed size-full z-0 bottom-0 object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </picture>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      class="fade container section-container"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="text-left lg:w-3/5">
        <div class="fixed w-inherit top-2/5 3xl:top-1/2">
          <h3
            class="text-primaryOrange text-2xl md:text-4xl font-normal tracking-wider"
          >
            Contact us
          </h3>
          <h1 class="text-3xl md:text-5xl md:leading-tight text-white">
            We'd Love to Hear From You!
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-white" id="contact">
    <div
      class="fade flex flex-col justify-center gap-20 w-full lg:w-1/2 px-6 py-10 lg:p-20"
      data-animation="animate-fade-right animate-duration-[1000ms]"
    >
      <div class="space-y-1">
        <h3>Get in Touch</h3>
        <h2>any questions? we would be happy to help you!</h2>
      </div>
      <form class="space-y-6 md:space-y-16">
        <div class="grid md:grid-cols-2 gap-6">
          <div class="relative z-0 w-full group">
            <input
              type="text"
              name="first_name"
              id="first_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="first_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >First name</label
            >
          </div>
          <div class="relative z-0 w-full group">
            <input
              type="text"
              name="last_name"
              id="last_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="last_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Last name</label
            >
          </div>
        </div>
        <div class="grid md:grid-cols-2 gap-6">
          <div class="relative z-0 w-full group">
            <input
              type="number"
              name="number"
              id="number"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=""
              required
            />
            <label
              for="number"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Phone number</label
            >
          </div>
          <div class="relative z-0 w-full group">
            <input
              type="email"
              name="email"
              id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
              placeholder=" "
              required
            />
            <label
              for="email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Email</label
            >
          </div>
        </div>
        <div class="relative z-0 w-full group">
          <textarea
            minlength="10"
            maxlength="255"
            name="message"
            id="message"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-black/20 appearance-none focus:outline-none focus:ring-0 focus:border-primaryOrange/80 peer"
            placeholder=" "
            required></textarea>
          <label
            for="message"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-primaryOrange/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Message</label
          >
        </div>
        <button type="submit" class="button-regular">Submit</button>
      </form>
    </div>
    <Location />
  </section>
  <section id="contact" class="bg-lightGray">
    <div
      class="container section-container flex flex-col justify-center items-center lg:items-start gap-32"
    >
      <div class="text-center lg:text-left space-y-4 lg:w-1/2">
        <h3>Quick support</h3>
        <h2>Feel free to contact us by phone, email, or visit in person.</h2>
      </div>
      <QuickSupport lang="en" />
    </div>
  </section>
</Layout>
