---
const { span } = Astro.props;
---

<li class="benfits-list">
  <svg
    class="stroke-white md:stroke-black"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 492 502"
    ><path fill="none" stroke-width="15" d="M7.5 7.5h477v487H7.5z"></path><path
      fill="none"
      stroke-width="15"
      d="M71.5 51.5h349v163h-349zM71.5 281.5h128v164h-128zM255 279.5h173M255 362.5h173M255 445.5h173"
    ></path></svg
  >

  <span>{span}</span>
</li>
