---
const { span } = Astro.props;
---

<li class="benfits-list">
  <svg
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-white lg:stroke-black stroke-[1]"
    ><path fill="none" d="M5 21h18V9H5m14 6H1V3h18"></path></svg
  >
  <span>{span}</span>
</li>
