---
const { span } = Astro.props;
---

<li class="benfits-list">
  <svg viewBox="0 0 744 773" xmlns="http://www.w3.org/2000/svg"
    ><path
      d="m694.71 374.905-139.5-265.719c-2.008-3.812-4.968-6.991-8.569-9.202a22.589 22.589 0 0 0-11.891-3.359h-325.5a22.59 22.59 0 0 0-11.892 3.36c-3.601 2.21-6.561 5.389-8.568 9.201L49.29 374.905a24.885 24.885 0 0 0-3.115 12.078c0 4.241 1.074 8.406 3.115 12.078l139.5 265.719c2.126 3.633 5.138 6.618 8.73 8.653a22.554 22.554 0 0 0 11.73 2.942h325.5a22.594 22.594 0 0 0 11.891-3.359c3.601-2.211 6.561-5.39 8.569-9.202l139.5-265.719a24.903 24.903 0 0 0 2.853-11.595c0-4.052-.981-8.04-2.853-11.595ZM533.122 169.094l102.068 193.25H414.315l118.807-193.25ZM372 341.569 251.565 144.938h240.87L372 341.569ZM210.877 169.094l118.808 193.25H108.81l102.067-193.25ZM108.81 410.656h220.875l-118.808 193.25-102.067-193.25ZM372 431.431l120.435 196.632h-240.87L372 431.431Zm161.122 172.475-118.807-193.25H635.19l-102.068 193.25Z"
    ></path></svg
  >
  <span>{span}</span>
</li>
