---
import { Image } from "astro:assets";
import fleet from "../../public/images/bg/fleet-efficiency.webp";
import fleet_cost from "../../public/images/bg/fleet-cost.webp";
import data from "../../public/images/bg/data.webp";
import client from "../../public/images/bg/client.webp";

const benefits = [
  {
    image: fleet,
    alt: "Fleet Efficiency",
    title: "Optimize Fleet Efficiency",
    description:
      "Enhance the performance of your fleet with our advanced management tools. Monitor vehicle health, streamline maintenance schedules, and ensure optimal routing to maximize uptime and reduce operational disruptions.",
  },
  {
    image: fleet_cost,
    alt: "Fleet Cost Management",
    title: "Effective Fleet Cost Management",
    description:
      "Control and reduce fleet-related expenses through comprehensive cost tracking and analysis. Our platform provides insights into fuel consumption, maintenance costs, and overall expenditure, enabling informed decision-making for cost savings.",
  },
  {
    image: data,
    alt: "Data Analytics",
    title: "Advanced Data Analytics",
    description:
      "Leverage powerful data analytics to gain actionable insights into your logistics operations. Analyze trends, identify inefficiencies, and make data-driven decisions to enhance productivity and drive business growth.",
  },
  {
    image: client,
    alt: "Client Management",
    title: "Seamless Client Management",
    description:
      "Manage client relationships effortlessly with our integrated client management system. Track orders, communicate effectively, and ensure customer satisfaction through streamlined processes and real-time updates.",
  },
];
---

<div class="container section-container space-y-28 text-secondaryBlueText">
  <div
    class="fade flex flex-col items-center text-center gap-2"
    data-animation="animate-fade animate-duration-[1500ms]"
  >
    <h2>Benefits for logistics companies</h2>
  </div>
  <div class="flex flex-row justify-evenly gap-x-10 gap-y-28 flex-wrap">
    {
      benefits.map((benefit) => (
        <div
          class="fade benefits-card"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          <div class="image-container">
            <Image src={benefit.image} alt={benefit.alt} loading="lazy" />
          </div>
          <div class="text">
            <h4 class="">{benefit.title}</h4>
            <p>{benefit.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
<style>
  .benefits-card {
    @apply relative flex h-full flex-shrink-0 flex-grow-0 basis-full flex-col justify-end rounded-2xl bg-white p-6 shadow-card_shadow shadow-secondaryBlueDark/20 md:basis-full md:flex-row md:items-center md:justify-center md:gap-10;
  }
  .benefits-card .image-container {
    @apply relative left-1/2 top-0 h-80 w-[calc(100%+16px)] -translate-x-1/2 -translate-y-10 overflow-hidden rounded-lg shadow-lg shadow-black/20 md:left-0 md:h-full md:w-full md:translate-x-0 md:translate-y-0;
  }
  .image-container img {
    @apply size-full xs:object-cover;
  }
  .text {
    @apply relative space-y-4 md:w-full;
  }

  .benefits-card:nth-child(2n) .image-container {
    @apply order-1 md:order-2;
  }
  .benefits-card:nth-child(2n) .text {
    @apply order-2 md:order-1;
  }
</style>
