---
import { Image } from "astro:assets";

import caseone from "../images/bg/case_studies/general.webp";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
  <a href="/en/case-studies/general-case" class="case-card">
    <div class="w-full relative">
      <Image
        src={caseone}
        alt=""
        class="size-full object-cover"
        loading="lazy"
      />
    </div>
    <div class="case-text">
      <h4>Transforming Last-Mile Delivery with Leajlak</h4>
      <p>
        Leajlak, an innovative delivery management solution, has redefined the
        logistics game by bridging the gap between merchants and third-party
        logistics (3PL) companies.
      </p>
    </div>
  </a>
</div>

<style>
  .case-card {
    @apply relative flex flex-col overflow-hidden rounded-2xl bg-lightGray drop-shadow;
  }

  .case-text {
    @apply space-y-4 px-5 py-7;
  }
</style>
