---
import { Image } from "astro:assets";
import caseone from "../images/bg/case_studies/general.webp";

const { lang = "en" } = Astro.props;
const content = await import(`../data/${lang}.json`);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
  <a href="/en/case-studies/general-case" class="case-card">
    <div class="w-full relative">
      <Image
        src={caseone}
        alt=""
        class="size-full object-cover"
        loading="lazy"
      />
    </div>
    <div class="case-text">
      <h4>{content.case_card_title}</h4>
      <p>{content.case_card_description}</p>
    </div>
  </a>
</div>

<style>
  .case-card {
    @apply relative flex flex-col overflow-hidden rounded-2xl bg-lightGray drop-shadow;
  }

  .case-text {
    @apply space-y-4 px-5 py-7;
  }
</style>
