<div
  class="fixed right-3 bottom-3 z-50 flex flex-col justify-end items-end drop-shadow-lg h-[min(100%,600px)] w-[min(100%,390px)]"
>
  <div id="Chatbot-content" class="bg-white rounded-2xl overflow-hidden">
    <div
      class="bg-gradient-to-br from-primaryOrange from-0% to-customYellow to-100% p-4 flex items-center justify-between"
    >
      <span class="text-white font-Montserrat font-semibold text-xl"
        >Leajlak's Assistant</span
      >
      <img
        src="/images/icons/close.svg"
        alt="close"
        class="cursor-pointer active:scale-90 duration-200"
        id="close"
      />
    </div>
  </div>
  <div
    id="Chatbot-icon"
    class="mt-2 shrink-0 bg-gradient-to-br from-primaryOrange from-0% to-customYellow to-100% size-11 sm:h-15 sm:w-15 rounded-full flex items-center justify-center group cursor-pointer"
  >
    <img
      src="/Chatbot.svg"
      alt="chatbot"
      class="size-6 sm:size-auto group-hover:scale-110 group-hover:ease-in group-hover:duration-300 translate-y-0.5 duration-300 ease-out will-change-transform pointer-events-none"
    />
  </div>
</div>

<style>
  #Chatbot-content {
    @apply h-full w-full origin-bottom-right scale-0 transform opacity-0 transition-[opacity,transform] duration-200 ease-out;
  }
  #Chatbot-content.active {
    @apply scale-100 transform opacity-100 duration-300 ease-in;
  }
</style>
