---
import { Image } from "astro:assets";
const logos = await Astro.glob("../images/companies_logo/*.webp");
---

{
  logos.map((logo) => {
    return (
      <div class="flex items-center will-change-transform justify-center h-40 flex-test flex-auto lg:flex-card_full group">
        <Image
          src={logo.default}
          alt=""
          loading="lazy"
          class="w-24 sm:w-32 h-auto grayscale group-hover:grayscale-0 duration-300 ease-in-out object-contain"
          fetchpriority="low"
        />
      </div>
    );
  })
}
