---
import { Image } from "astro:assets";
const { imgSrc, alt } = Astro.props;
---

<div
  class="flex items-center justify-center size-24 sm:size-28 md:flex-card_full"
>
  <Image
    src={imgSrc}
    alt={alt}
    loading="lazy"
    class="size-full object-scale-down grayscale duration-200"
  />
</div>
