---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import caseone from "../../../images/bg/case_studies/general_lg.webp";
import ContactPopUp from "../../../components/ContactPopUp.astro";
---

<Layout title="الحالة العامة" lang="ar">
  <ContactPopUp lang="en" />
  <section class="h-full md:h-120 bg-darkGray">
    <div
      class="fade flex h-full items-center section-container"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="h-fit md:w-1/2 space-y-2">
        <h1 class="leading-snug text-white">
          تحويل التوصيل في الميل الأخير مع لأجلك
        </h1>
        <p class="text-white">
          دعونا نكتشف كيف غيّرت لأجلك التوصيل في الميل الأخير بحلولها المبتكرة.
        </p>
      </div>
    </div>
    <div
      class="md:absolute md:top-0 md:left-0 h-80 md:h-full w-full md:w-4/12 lg:w-[30%] flex items-end justify-end pointer-events-none"
    >
      <Image
        src={caseone}
        alt=""
        class="size-full object-center md:object-right object-cover"
      />
    </div>
  </section>
  <section>
    <div class="section-container">
      <div
        class="fade space-y-4 border-b pb-8"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2>المقدمة</h2>
        <p>
          في المشهد المتطور بسرعة للتجارة الإلكترونية والتجزئة في السعودية،
          أصبحت مشكلة التوصيل في الميل الأخير عائقًا رئيسيًا أمام الشركات لتقديم
          تجربة عملاء سلسة. لقد أعادت لأجلك، كحل مبتكر لإدارة التوصيل، تشكيل
          اللعبة اللوجستية من خلال سد الفجوة بين التجار وشركات الخدمات اللوجستية
          (3PL). بفضل تخصصها في التوصيل عند الطلب، تقدم لأجلك خدماتها لصناعات
          متنوعة مثل المطاعم والبقالة والشركات الصغيرة والمتوسطة، مما يعزز
          الكفاءة التشغيلية ورضا العملاء. لقد أصبحت لأجلك شريكًا موثوقًا به
          لأكثر من 80 علامة تجارية و300+ فرع في الرياض والقصيم والدمام.
        </p>
      </div>
      <div
        class="fade space-y-5 py-8 border-b"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="space-y-1">
          <h2>التحديات</h2>
          <p>
            واجهت منظومة الخدمات اللوجستية المجزأة في السعودية عدة تحديات أمام
            التجار:
          </p>
        </div>
        <div class="flex gap-5 flex-col items-start justify-center">
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">عدم كفاءة التشغيل</h6>
            <p>
              غالبًا ما أدت أنظمة التوصيل التقليدية إلى تأخيرات في الطلبات
              وتكاليف مرتفعة.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">
              خيارات تكامل محدودة
            </h6>
            <p>
              عانى التجار من صعوبة في ربط منصاتهم بمزودي الخدمات اللوجستية
              بسهولة.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">مشكلات التوسع</h6>
            <p>
              إدارة زيادة الطلبات الموسمية والتوسع الجغرافي تطلب حلولاً مرنة
              وديناميكية.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">قلة وضوح البيانات</h6>
            <p>
              نقص البيانات في الوقت الفعلي أعاق اتخاذ القرارات ورضا العملاء.
            </p>
          </div>
        </div>
      </div>
      <div
        class="fade space-y-5 pt-8"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="space-y-1">
          <h2>الحلول</h2>
          <p>
            طورت لأجلك منصة قوية مدفوعة بالتكنولوجيا لإدارة التوصيل، مصممة
            لمواجهة هذه التحديات بشكل مباشر.
          </p>
        </div>
        <div class="flex gap-5 flex-col items-start justify-center">
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">تكامل سلس</h6>
            <p>
              تتكامل لأجلك بسهولة مع منصات شائعة مثل فوديكس، مكان-إي، تراي
              أوردر، سلة، لوجي نكست وغيرها. يضمن ذلك اتصال عمليات التجار بنظام
              لأجلك دون انقطاع.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">
              نظام توصيل هجين ديناميكي
            </h6>
            <p>
              نظام لأجلك يحسن استخدام الكباتن، ويوفر خدمات التوصيل السريع
              والطرود لضمان العمليات في الوقت المناسب وبطريقة اقتصادية.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">التخصيص والمرونة</h6>
            <p>
              تدرك لأجلك أن لكل متجر احتياجاته الفريدة، لذلك توفر حلول توصيل
              مخصصة للمطاعم ومحلات البقالة والشركات الصغيرة والمتوسطة.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">
              رؤى في الوقت الفعلي
            </h6>
            <p>
              يحصل التجار على تقارير مفصلة وتتبع في الوقت الفعلي، مما يحسن
              الشفافية ويساعد في اتخاذ القرارات المستنيرة.
            </p>
          </div>
          <div class="">
            <h6 class="text-lg lg:text-xl font-semibold">التوسع الجغرافي</h6>
            <p>
              منصة لأجلك القابلة للتوسع تدعم التجار في توسيع نطاق أعمالهم في
              جميع أنحاء المملكة العربية السعودية، مما يساعدهم في الوصول إلى
              أسواق جديدة.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-secondaryBlueDark" id="results-section">
    <div
      class="section-container flex flex-col items-center justify-center gap-24"
    >
      <div
        class="fade text-center lg:w-1/2 space-y-1"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2 class="text-white">النتائج</h2>
        <p class="text-center text-white">
          قدمت مقاربة لأجلك المبتكرة قيمة كبيرة لشركائها.
        </p>
      </div>
      <div
        class="flex flex-wrap w-full items-center justify-center gap-y-24 gap-x-16"
      >
        <div class="count-up-container">
          <div class="inline-flex">
            <h1
              class="count-up text-7xl font-semibold text-white"
              data-target="35"
            >
              0
            </h1>
            <h1 class="text-7xl font-semibold text-white">%</h1>
          </div>
          <h6 class="text-white">تقليل وقت تنفيذ الطلبات</h6>
        </div>
        <div class="count-up-container">
          <div class="inline-flex">
            <h1
              class="count-up text-7xl font-semibold text-white"
              data-target="3"
            >
              0
            </h1>
            <h1 class="text-7xl font-semibold text-white">X</h1>
          </div>
          <h6 class="text-white">زيادة حجم الطلبات</h6>
        </div>
        <div class="count-up-container">
          <div class="inline-flex">
            <h1
              class="count-up text-7xl font-semibold text-white"
              data-target="25"
            >
              0
            </h1>
            <h1 class="text-7xl font-semibold text-white">%</h1>
          </div>
          <h6 class="text-white">خفض تكاليف التوصيل</h6>
        </div>
        <div class="count-up-container">
          <div class="inline-flex">
            <h1
              class="count-up text-7xl font-semibold text-white"
              data-target="45"
            >
              0
            </h1>
            <h1 class="text-7xl font-semibold text-white">%</h1>
          </div>
          <h6 class="text-white">نمو الطلبات</h6>
        </div>
        <div class="count-up-container">
          <div class="inline-flex">
            <h1
              class="count-up text-7xl font-semibold text-white"
              data-target="100"
            >
              0
            </h1>
            <h1 class="text-7xl font-semibold text-white">%</h1>
          </div>
          <h6 class="text-white">توسع السوق</h6>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="fade section-container space-y-5"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h2>قصة النجاح</h2>
      <h1
        class="absolute text-right text-6xl sm:text-7xl md:text-8xl lg:text-9xl opacity-5 bottom-5 right-10 pointer-events-none"
      >
        قصة النجاح
      </h1>
      <div class="space-y-1">
        <h6>من منظور شريك</h6>
        <p>
          أحد عملاء لأجلك، سلسلة مطاعم رائدة ذات فروع متعددة في الرياض والدمام،
          واجهت تحديات في إدارة التوصيل عند الطلب خلال ساعات الذروة. باستخدام
          نظام التوصيل الهجين من لأجلك، حققوا انخفاضًا بنسبة 30% في التأخير
          وزيادة بنسبة 20% في رضا العملاء. كما مكنتهم الشراكة من التوسع إلى
          القصيم، مما ساعدهم على جذب شرائح جديدة من العملاء.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-lightGray">
      <div
        class="fade container section-container flex flex-col lg:flex-row gap-10"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div
          class="w-full flex flex-col justify-center items-center gap-10 text-center"
        >
          <div class="space-y-4">
            <h1 class="text-6xl">هل تريد نجاحًا مشابهًا؟</h1>
            <p class="">
              دعنا نناقش العقبات التي تواجهها ونتعاون لوضع خطة للتغلب عليها.
            </p>
          </div>
          <button class="button-regular popupButton">لنتحدث</button>
        </div>
      </div>
    </div>
  </section>
</Layout>
<style>
  .count-up-container {
    @apply shrink-0 grow-0 basis-full space-y-4 text-center xs:basis-[calc(33.33%-64px)];
  }
</style>
<script>
  let hasRunCounters = false;

  function animateCountUp(element, start, end, duration = 2000) {
    const range = end - start;
    let current = start;
    const increment = end > start ? 1 : -1;
    const stepTime = Math.abs(Math.floor(duration / range));

    const timer = setInterval(() => {
      current += increment;
      element.textContent = current;
      if (current === end) {
        clearInterval(timer);
      }
    }, stepTime);
  }

  function handleIntersection(entries, observer) {
    entries.forEach((entry) => {
      if (entry.isIntersecting && !hasRunCounters) {
        hasRunCounters = true;

        const counters = document.querySelectorAll(".count-up");
        counters.forEach((counter) => {
          const targetValue = parseInt(counter.getAttribute("data-target"), 10);
          animateCountUp(counter, 0, targetValue);
        });
        observer.unobserve(entry.target);
      }
    });
  }

  const options = {
    root: null,
    threshold: 0.4,
  };
  const observer = new IntersectionObserver(handleIntersection, options);

  const resultsSection = document.getElementById("results-section");
  observer.observe(resultsSection);
</script>
