---
import Layout from "../../../layouts/Layout.astro";
import app from "../../../../public/images/bg/joinnow.webp";
import { Image } from "astro:assets";
import logistic_bg from "../../../../public/images/bg/drivers_registration/drivers_registration_mobile-en.webp";
---

<link
  rel="preload"
  href="/images/bg/drivers_registration/drivers_registration_blurred-en.webp"
  as="image"
/>

<Layout title="Registration | Drivers" lang="en">
  <section class="hero flex items-center">
    <div class="blurred-img bg-blurredDriver_register">
      <picture>
        <source
          media="(min-width: 480px)"
          srcset="/images/bg/drivers_registration/drivers_registration_lg-en.webp"
        />

        <Image
          src={logistic_bg}
          alt="logisitc_solution_bg"
          class="HeroBg absolute size-full z-0 bottom-0 object-cover object-center"
          loading="eager"
          decoding="sync"
          fetchpriority="high"
        />
      </picture>
    </div>
    <div class="container section-container z-10">
      <div
        class="fade flex flex-col gap-7 text-white text-left lg:w-1/2"
        data-animation="animate-fade animate-duration-[1500ms]"
      >
        <h1 class="text-3xl md:text-4xl">Drive with Leajlak.</h1>
        <h6 class="text-base font-medium md:text-lg opacity-80">
          Join us at Leajlak as a rider and be part of a dynamic team dedicated
          to providing efficient delivery services.
        </h6>
      </div>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/20 from-0% to-black/85 to-80% z-0"
    >
    </div>
  </section>
  <section class="bg-white">
    <div
      class="fade container section-container flex items-center flex-col justify-between lg:flex-row gap-y-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div
        class="lg:max-w-[432px] max-h-[745px] overflow-hidden order-2 lg:order-1"
      >
        <Image
          src={app}
          alt="app"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
      <div
        class="flex flex-col justify-center gap-y-10 lg:w-1/2 order-1 lg:order-2"
      >
        <div class="text-left space-y-2">
          <h2 class="">How to get started</h2>
          <p>
            Earn more on the road with Leajlak - drive, deliver, and boost your
            income!
          </p>
        </div>
        <div>
          <ol class="[counter-reset:my-sec-counter] space-y-8">
            <li
              class="relative flex flex-row gap-4 [counter-increment:my-sec-counter] before:content-[counter(my-sec-counter)] before:flex before:size-6 before:flex-shrink-0 before:bg-primaryOrange before:rounded-full before:text-white before:justify-center before:items-center before:font-medium before:text-sm"
            >
              <div class="flex flex-col space-y-2">
                <h4 class="leading-none">Download</h4>
                <p>
                  Download Leajlak's app from <a
                    href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
                    target="”_blank”"
                    class="underline underline-offset-2">google play</a
                  > or <a
                    href="https://apps.apple.com/tr/app/leajlak/id6444185447"
                    target="”_blank”"
                    class="underline underline-offset-2">apple store</a
                  >.
                </p>
              </div>
            </li>
            <li
              class="relative flex flex-row gap-4 [counter-increment:my-sec-counter] before:content-[counter(my-sec-counter)] before:flex-shrink-0 before:flex before:size-6 before:bg-primaryOrange before:rounded-full before:text-white before:justify-center before:items-center before:font-medium before:text-sm"
            >
              <div class="flex flex-col space-y-2">
                <h4 class="leading-none">Register</h4>
                <p>
                  Fill out the necessary details and provide any required
                  documents.
                </p>
              </div>
            </li>
            <li
              class="relative flex flex-row gap-4 [counter-increment:my-sec-counter] before:content-[counter(my-sec-counter)] before:flex-shrink-0 before:flex before:size-6 before:bg-primaryOrange before:rounded-full before:text-white before:justify-center before:items-center before:font-medium before:text-sm"
            >
              <div class="flex flex-col space-y-2">
                <h4 class="leading-none">Learn</h4>
                <p>Learn about our processes and get started quickly.</p>
              </div>
            </li>
            <li
              class="relative flex flex-row gap-4 [counter-increment:my-sec-counter] before:content-[counter(my-sec-counter)] before:flex-shrink-0 before:flex before:size-6 before:bg-primaryOrange before:rounded-full before:text-white before:justify-center before:items-center before:font-medium before:text-sm"
            >
              <div class="flex flex-col space-y-2">
                <h4 class="leading-none">Begin</h4>
                <p>
                  Begin accepting delivery tasks and start earning extra income.
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</Layout>
