---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import SourceImageTwo from "../../components/SourceImageTwo.astro";
import case_studies_bg from "../../images/bg/case_studies_lg.webp";
import case_studies_bg_mobile from "../../images/bg/case_studies_mobile.webp";
import support from "../../images/illustrations/Support.webp";
import CaseGird from "../../components/CaseGird.astro";
import ContactPopUp from "../../components/ContactPopUp.astro";
---

<Layout title="دراسات الحالة" lang="ar">
  <ContactPopUp lang="en" />
  <section class="hero">
    <div
      class="bg-blurredCaseBgMobile xs:bg-blurredCaseBg bg-center bg-cover blurred-img"
    >
      <SourceImageTwo
        mobileImgUrl={case_studies_bg_mobile}
        desktopImgUrl={case_studies_bg}
        alt="خلفية-دراسات-الحالة"
      />
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/80 xs:bg-transparent xs:bg-gradient-to-r from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      class="fade container section-container h-full flex flex-col justify-center gap-5"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div>
        <h3 class="text-primaryOrange text-2xl md:text-3xl font-normal mt-10">
          دراسات الحالة
        </h3>
        <h1 class="leading-snug text-white">تحويل العمليات و تحقيق النجاح.</h1>
      </div>
      <p
        class="text-base xs:text-lg 3xl:text-xl font-medium opacity-80 lg:w-1/2 text-white"
      >
        اكتشف كيف تمكّن حلولنا الشركات من تحقيق نتائج استثنائية.
      </p>
    </div>
  </section>
  <section class="bg-white">
    <div
      class="fade container section-container space-y-24"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="flex items-center justify-center">
        <h2>استكشف دراسات الحالة</h2>
      </div>
      <CaseGird lang="ar" />
    </div>
  </section>
  <section>
    <div class="bg-lightGray">
      <div
        class="fade container section-container flex flex-col lg:flex-row gap-10"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="w-full flex flex-col justify-center gap-10 lg:w-1/2">
          <div class="space-y-4">
            <h1 class="w-1/2 text-6xl">هل لديك مشكلة تحتاج إلى حل؟</h1>
            <p class="lg:w-4/5">
              دعنا نناقش العقبات التي تواجهها ونتعاون على وضع خطة لتجاوزها.
            </p>
          </div>
          <button class="button-regular popupButton">دعنا نتحدث</button>
        </div>
        <div class="lg:w-1/2">
          <Image src={support} alt="الدعم" class="size-full" />
        </div>
      </div>
    </div>
  </section>

  <script src="/src/Script/BlurredImage.js"></script>
</Layout>
