---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialEn.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";

import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import videoPlaceHolder from "../../../public/delivery_firstframe.webp";
import fleet from "../../../public/images/bg/fleet.webp";
import Restaurant from "../../../public/images/bg/restaurent.webp";
import app from "../../../public/images/Appmockup.webp";
import mockup_sm from "../../../public/images/mockup/mockup_sm.webp";
import google from "../../../public/images/icons/google play.png";
import apple from "../../../public/images/icons/apple store.png";

import CoreFeatures from "../../components/CoreFeatures.astro";
---

<script src="/src/Script/videoLoadHundler.js"></script>
<Layout title="الصفحة الرئيسية" lang="ar">
  <section class="relative h-screen">
    <picture id="videoplaceholder">
      <Image
        src={videoPlaceHolder}
        alt="videoplaceholder"
        class="absolute size-full z-0 bottom-0 object-cover"
        loading="eager"
        decoding="sync"
        fetchpriority="high"
      />
    </picture>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 z-0"
    >
    </div>
    <video
      autoplay
      playsinline
      muted
      loop
      class="absolute size-full object-cover -z-10"
      id="video"
    >
      <source src="/delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="fade container section-container flex flex-col justify-center xs:justify-end items-start h-full gap-y-4"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="text-white space-y-3">
        <div>
          <h1>قم بتبسيط عمليات التوصيل،</h1>
          <h1>وارتقِ بأعمالك.</h1>
        </div>
        <p class="md:w-3/4">
          نحن شريك تكنولوجي رائد مكرس لتحسين تجربة التوصيل في الميل الأخير
          لأجلك، مما يعزز رضا العملاء للشركات.
        </p>
      </div>
    </div>
  </section>
</Layout>
