---
import { Image } from "astro:assets";

import Layout from "../../../layouts/Layout.astro";

import portrait from "../../../../public/images/profile-pic/portrait.png";
import merchant_bg from "../../../../public/images/bg/merchant_solution_mobile.webp";
import ButtonOutline from "../../../components/ButtonOutline.astro";
import BenefitsMerchants from "../../../components/BenefitsMerchants.astro";
---

<style>
  .card-solution {
    @apply flex flex-col items-start justify-start gap-y-5;
  }
  .card-solution svg {
    @apply size-10 fill-white stroke-white;
  }

  .card-solution > div {
    @apply space-y-2;
  }

  .card-solution h4 {
    @apply text-2xl ltr:text-left rtl:text-right;
  }
  .card-solution p {
    @apply ltr:text-left rtl:text-right;
  }
</style>

<Layout title="Solutions | Merchants" lang="en">
  <section class="hero z-0" id="merchants-hero">
    <div class="blurred-img bg-blurredmerchant_solution bg-fixed">
      <picture>
        <source
          media="(min-width: 480px)"
          srcset="/images/bg/merchant_solution_lg.webp"
        />

        <Image
          src={merchant_bg}
          alt="merchant_solution_bg"
          class="HeroBg fixed size-full z-0 bottom-0 object-cover object-center"
          loading="eager"
          fetchpriority="high"
          decoding="sync"
        />
      </picture>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      class="fade container section-container"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="text-white lg:w-2/5">
        <div class="fixed w-inherit top-2/5 3xl:top-1/2 space-y-7">
          <h1 class="text-3xl md:text-5xl text-white">Merchants</h1>
          <h6 class="text-base font-medium md:text-lg opacity-80">
            Leajlak's solution revolutionizes order management, addressing the
            critical challenges faced by merchants and unlocking the potential
            for a seamless, efficient delivery ecosystem.
          </h6>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-lightGray">
    <div class="container section-container space-y-28">
      <div
        class="fade flex flex-col items-center text-center gap-2"
        data-animation="animate-fade animate-duration-[1500ms]"
      >
        <h2 class="">Simplified Delivery for Merchants.</h2>
        <h6 class="lg:w-2/3 text-lg">
          Our solution helps merchants manage and track deliveries effortlessly,
          ensuring faster, more reliable service for their customers.
        </h6>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-3 items-start justify-center gap-y-20 md:gap-x-12 md:gap-y-20"
      >
        <div
          class="card-solution fade"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div class="bg-primaryOrange p-2.5 rounded-xl">
            <svg
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
              stroke=""
              stroke-width="2"
              ><path
                d="M3.4 1.8C.3 3.8 0 7.2 0 38.8 0 78.6-1.1 76 15.1 76c6 0 10.9.3 10.9.6 0 .4-1 2.3-2.1 4.4-3.7 6.6-3 7 13.7 7h14.8l2.7 3.2c2.5 3 3 3.2 4.9 2 2.8-1.7 7.4.4 7.8 3.6.3 2 .9 2.2 5.8 2.2 5 0 5.4-.2 5.4-2.4 0-3.1 5.2-5.5 7.5-3.6 1.3 1.1 2.1.8 5-2 3.5-3.4 4.3-5.8 2.5-7.6-1.6-1.6 1-7.3 3.5-7.6 1.8-.3 2-1 2-6.3s-.2-6-2-6.3c-2.5-.3-5.1-6-3.5-7.6 1.6-1.6 1.2-4.1-1-6.1-1.9-1.7-2-3.1-2-23.2 0-20-.1-21.4-2-23.3-1.9-1.9-3.3-2-43.2-2-22.7 0-41.8.4-42.4.8zm83.4 3.4c.8.8 1.2 6.7 1.2 20.2 0 16.1-.2 19.2-1.6 20.7-1.5 1.7-1.9 1.7-4.5.3-2-1-2.9-2.2-2.9-3.9 0-2.2-.4-2.5-4-2.5h-4V26.9c0-7.2-.5-13.9-1-15-1-1.8-2.4-1.9-23.9-1.9-18.2 0-23.1.3-24 1.4-.8.9-1.1 8.1-.9 23.7l.3 22.4 15.3.3c15.1.2 15.3.3 15 2.4-.2 1.4-1.3 2.5-2.8 2.9-1.4.4-12.3.7-24.2.8L3 64V35.6c0-24.5.2-28.7 1.6-30C5.9 4.2 11.1 4 45.9 4c29.5 0 40 .3 40.9 1.2zM37 19.4c.3 3.3 1 6.1 1.6 6.3.6.2 2.5-.8 4.2-2.2l3-2.5 3.1 2.6c4.3 3.6 6.1 2 6.1-5.3v-5.4l6.3.3 6.2.3.3 15.6.2 15.6-2.9 1.2c-2.3 1-3.3 1-4.9 0-1.9-1.2-2.5-.9-5.6 2.6-1.9 2.2-3.5 4.6-3.6 5.2 0 1-3.4 1.3-13.5 1.3H24V12.9l6.3.3 6.2.3.5 5.9zM52 17c0 4.6-.5 4.8-3.7 1.8L46 16.6l-3 2.2-3 2.3V13h12v4zm24 28.7c.1 2.5 8.9 6.6 10.8 5.1 2-1.7 5.1 1.6 3.6 3.9-1.5 2.5 2.2 12.3 4.7 12.3 3 0 2.5 4.8-.6 6-1.4.5-2.5 1.7-2.5 2.7-.1 1-.7 2.9-1.4 4.3-1 1.8-1.1 3-.4 4.4.8 1.4.5 2.3-1.1 3.9-1.2 1.2-2.1 1.6-2.1.9 0-1.8-2.5-1.5-7 .8-2.6 1.3-4 2.7-4 4 0 1.5-.7 2-2.5 2s-2.5-.5-2.5-2c0-2.7-8.6-6.7-11.1-5.1-2.4 1.4-5.7-2.2-4-4.3 1.8-2.1-1.7-11.6-4.1-11.6-2.5 0-2.5-5.6 0-6.2 2.5-.7 5.7-10.4 4.1-12.4-.9-1.1-.8-1.8.6-3.4 1.6-1.8 2-1.9 3.3-.6 1.3 1.3 2.1 1.2 6.4-1 2.6-1.3 4.8-3.1 4.8-3.9 0-2.2 5-2 5 .2zM46.5 70v2.5l-18 .3c-9.9.2-19.4 0-21.2-.3-3-.5-4.9-2.8-3.7-4.6.3-.5 9.4-.8 21.7-.7l21.2.3V70zm5.5 8.6C54.1 84 54.1 84 39.5 84H26l2-4 2-4h10.5c10.4 0 10.6 0 11.5 2.6z"
              ></path><path
                d="M29.2 40.2c-1.4 1.4-1.6 6.7-.3 8.6.5.9 2.7 1.2 7.2 1l6.4-.3.3-3.8c.2-2.1-.2-4.5-.9-5.3-1.4-1.7-11-1.9-12.7-.2zM40 44.5c0 1.1-1.2 1.5-4.5 1.5s-4.5-.4-4.5-1.5 1.2-1.5 4.5-1.5 4.5.4 4.5 1.5zM67 54.2c-14.2 7.2-10.8 30.4 4.8 32.5C82.3 88.1 91 76.3 88 64.8c-1.4-5.3-6.2-10.5-11-11.8-4.8-1.3-5-1.3-10 1.2zm12.6 3.7c4.6 2.8 7.1 9.8 5.5 15.3-2 6.4-6 9.8-11.5 9.8-3.9 0-5.2-.6-8.4-3.4-3.5-3.2-3.7-3.8-3.7-9.4 0-4.6.5-6.7 2.1-8.9 4.1-5.5 10.4-6.8 16-3.4z"
              ></path><path
                d="M72.1 67.7c-.7 3.2-1.5 6.6-1.7 7.5-.4 1.2 0 1.8 1 1.8 1.5 0 3-4 4.2-11.3.5-2.9.3-3.7-.8-3.7-1 0-1.9 1.9-2.7 5.7zM64.7 65.8c-3.4 3.5-3.4 4.2.3 7.7 3.7 3.5 6.3 2.3 3.1-1.6-1.8-2.3-1.8-2.4 0-4.7 1.7-2.3 1.8-4.2 0-4.2-.4 0-1.9 1.3-3.4 2.8zM77.5 64c-.4.6 0 1.9.9 2.9 2 2.2 2 3.5.1 5.1-1.8 1.5-2 4-.2 4 1.3 0 5.7-5.2 5.7-6.8 0-.4-1.3-2.1-2.9-3.6-1.9-1.9-3.1-2.4-3.6-1.6z"
              ></path></svg
            >
          </div>

          <div>
            <h5>Tailored DMS</h5>
            <p>
              Leajlak's solution provides a customizable Delivery Management
              System (DMS) to meet the specific needs of individual businesses,
              ensuring a perfect fit for diverse operational requirements.
            </p>
          </div>
        </div>
        <div
          class="card-solution fade"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div class="bg-primaryOrange p-2.5 rounded-xl">
            <svg
              fill=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              xml:space="preserve"
              stroke=""
              stroke-width="9"
              ><path
                d="M437.4 281.224h-21.046c16.833-34.58 28.023-67.206 28.023-92.847 0-18.316-2.624-36.425-7.802-53.82a8.05 8.05 0 0 0-15.431 4.593c4.734 15.904 7.134 32.466 7.134 49.227 0 85.29-140.794 263.973-172.277 302.857C224.517 452.35 83.723 273.668 83.723 188.377 83.723 93.383 161.006 16.1 256 16.1c65.227 0 124.115 36.151 153.686 94.345a8.052 8.052 0 0 0 14.354-7.294 189.02 189.02 0 0 0-68.164-74.526C325.981 9.9 291.444 0 256 0 157.613 0 76.615 75.82 68.334 172.096c-28.133 3.128-50.087 27.042-50.087 55.996v12.881c0 31.072 25.28 56.352 56.352 56.352h29.205c16.907 32.145 37.839 65.281 58.534 95.53h-81.3c-31.072 0-56.352 25.28-56.352 56.352v6.44C24.688 486.72 49.968 512 81.04 512h172.813c4.341 0 9.685-4.342 12.328-7.737 16.117-20.708 40.306-49.843 72.37-95.402a8.08 8.08 0 0 0 1.172.094H437.4c31.072 0 56.352-25.28 56.352-56.352v-15.027c.001-31.072-25.28-56.352-56.352-56.352zm-362.8 0c-22.195 0-40.252-18.056-40.252-40.252v-12.881c0-19.814 14.396-36.32 33.276-39.634.024 25.628 11.206 58.222 28.022 92.766H74.6zm6.44 214.675c-22.195 0-40.252-18.056-40.252-40.252v-6.44c0-22.195 18.056-40.252 40.252-40.252h92.476c26.737 37.984 51.744 69.845 65.512 86.943H81.04zm396.612-143.295c0 22.195-18.056 40.252-40.252 40.252h-87.74c20.696-30.25 41.628-63.385 58.534-95.53H437.4c22.195 0 40.252 18.056 40.252 40.252v15.026z"
              ></path><path
                d="M256 40.788c-81.38 0-147.589 66.209-147.589 147.589 0 13.892 1.93 27.644 5.735 40.872 1.23 4.272 5.692 6.743 9.962 5.512a8.053 8.053 0 0 0 5.512-9.962c-3.39-11.782-5.108-24.036-5.108-36.422 0-72.503 58.985-131.488 131.488-131.488s131.488 58.985 131.488 131.488S328.503 319.866 256 319.866c-48.242 0-92.539-26.357-115.604-68.783a8.048 8.048 0 0 0-10.917-3.228 8.05 8.05 0 0 0-3.228 10.917c25.884 47.615 75.602 77.194 129.749 77.194 81.38 0 147.589-66.209 147.589-147.589S337.38 40.788 256 40.788z"
              ></path><path
                d="M350.457 115.925H161.543a8.049 8.049 0 0 0-8.05 8.05v137.392a8.049 8.049 0 0 0 8.05 8.05h188.914a8.049 8.049 0 0 0 8.05-8.05V123.975a8.049 8.049 0 0 0-8.05-8.05zm-131.488 16.1h26.834v44.008h-26.834v-44.008zm80.503 121.292H169.593V132.025h33.275v52.059a8.049 8.049 0 0 0 8.05 8.05h42.935a8.049 8.049 0 0 0 8.05-8.05v-52.059h37.568v121.292zm42.935 0h-26.834V132.025h26.834v121.292z"
              ></path><path
                d="M281.761 206.088h-92.31c-4.447 0-8.05 3.603-8.05 8.05s3.603 8.05 8.05 8.05h92.31c4.447 0 8.05-3.603 8.05-8.05s-3.603-8.05-8.05-8.05zM281.761 229.702h-92.31c-4.447 0-8.05 3.603-8.05 8.05s3.603 8.05 8.05 8.05h92.31c4.447 0 8.05-3.603 8.05-8.05s-3.603-8.05-8.05-8.05z"
              ></path></svg
            >
          </div>

          <div>
            <h5>Real-Time Tracking</h5>
            <p>
              By integrating with Leajlak, system offers real-time order
              tracking and status updates, empowering merchants with precise
              visibility into their delivery processes.
            </p>
          </div>
        </div>
        <div
          class="card-solution fade"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div class="bg-primaryOrange p-2.5 rounded-xl">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke=""
              stroke-width="1.6"
              ><path fill="none" d="M5 21h18V9H5m14 6H1V3h18"></path></svg
            >
          </div>
          <div>
            <h5>Integration Capabilities</h5>
            <p>
              Seamlessly integrate with multiple logistics companies, enabling
              merchants to expand their delivery network and leverage the
              strengths of various partners.
            </p>
          </div>
        </div>
        <div
          class="card-solution fade"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div class="bg-primaryOrange p-2.5 rounded-xl">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 32.00 32.00"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid"
              stroke="#000000"
              stroke-width="0.00030"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M29.000,13.858 L29.000,31.000 C29.000,31.553 28.553,32.000 28.000,32.000 C27.447,32.000 27.000,31.553 27.000,31.000 L27.000,13.858 C25.279,13.411 24.000,11.859 24.000,10.000 C24.000,8.141 25.279,6.589 27.000,6.142 L27.000,1.000 C27.000,0.447 27.447,0.000 28.000,0.000 C28.553,0.000 29.000,0.447 29.000,1.000 L29.000,6.142 C30.721,6.589 32.000,8.141 32.000,10.000 C32.000,11.859 30.721,13.411 29.000,13.858 ZM28.000,8.000 C26.898,8.000 26.000,8.897 26.000,10.000 C26.000,11.103 26.898,12.000 28.000,12.000 C29.103,12.000 30.000,11.103 30.000,10.000 C30.000,8.897 29.103,8.000 28.000,8.000 ZM17.000,25.858 L17.000,31.000 C17.000,31.553 16.553,32.000 16.000,32.000 C15.447,32.000 15.000,31.553 15.000,31.000 L15.000,25.858 C13.279,25.411 12.000,23.859 12.000,22.000 C12.000,20.141 13.279,18.589 15.000,18.142 L15.000,1.000 C15.000,0.447 15.447,0.000 16.000,0.000 C16.553,0.000 17.000,0.447 17.000,1.000 L17.000,18.142 C18.721,18.589 20.000,20.141 20.000,22.000 C20.000,23.859 18.721,25.411 17.000,25.858 ZM16.000,20.000 C14.897,20.000 14.000,20.898 14.000,22.000 C14.000,23.102 14.897,24.000 16.000,24.000 C17.103,24.000 18.000,23.102 18.000,22.000 C18.000,20.898 17.103,20.000 16.000,20.000 ZM5.000,19.858 L5.000,31.000 C5.000,31.553 4.553,32.000 4.000,32.000 C3.447,32.000 3.000,31.553 3.000,31.000 L3.000,19.858 C1.279,19.411 0.000,17.859 0.000,16.000 C0.000,14.141 1.279,12.589 3.000,12.142 L3.000,1.000 C3.000,0.447 3.447,0.000 4.000,0.000 C4.553,0.000 5.000,0.447 5.000,1.000 L5.000,12.142 C6.721,12.589 8.000,14.141 8.000,16.000 C8.000,17.859 6.721,19.411 5.000,19.858 ZM4.000,14.000 C2.898,14.000 2.000,14.898 2.000,16.000 C2.000,17.103 2.898,18.000 4.000,18.000 C5.102,18.000 6.000,17.103 6.000,16.000 C6.000,14.898 5.102,14.000 4.000,14.000 Z"
                ></path>
              </g></svg
            >
          </div>
          <div>
            <h5>Rider Management</h5>
            <p>
              Overcome the complexities of managing in-house and outsourced
              riders through efficient rider allocation and task management
              within the system.
            </p>
          </div>
        </div>
        <div
          class="card-solution fade"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div class="bg-primaryOrange p-2.5 rounded-xl">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 315.752 315.752"
              xml:space="preserve"
              stroke="#000000"
              stroke-width="5.5"
              ><g id="SVGRepo_bgCarrier" stroke-width="2"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M263.89,8.743c-3.039,0-5.503,2.464-5.503,5.503v257.607c0,0.854,0.199,1.696,0.581,2.461l14.829,29.654 c0.932,1.864,2.837,3.042,4.922,3.042c2.084,0,3.989-1.178,4.922-3.042l14.828-29.654c0.382-0.765,0.581-1.606,0.581-2.461V14.246 c0-3.039-2.464-5.503-5.503-5.503H263.89z M288.044,270.552l-9.325,18.649l-9.326-18.649V19.749h18.651V270.552z"
                  ></path>
                  <path
                    d="M304.746,48.037v87.789c0,3.039,2.464,5.503,5.503,5.503c3.039,0,5.503-2.464,5.503-5.503V48.037 c0-3.039-2.464-5.503-5.503-5.503C307.21,42.534,304.746,44.998,304.746,48.037z"
                  ></path>
                  <path
                    d="M186.526,164.64H47.204c-3.039,0-5.503,2.465-5.503,5.504c0,3.039,2.464,5.502,5.503,5.502h139.322 c3.039,0,5.503-2.463,5.503-5.502C192.029,167.105,189.565,164.64,186.526,164.64z"
                  ></path>
                  <path
                    d="M186.526,246.068H47.204c-3.039,0-5.503,2.464-5.503,5.503c0,3.039,2.464,5.503,5.503,5.503h139.322 c3.039,0,5.503-2.464,5.503-5.503C192.029,248.532,189.565,246.068,186.526,246.068z"
                  ></path>
                  <path
                    d="M186.526,129.295H47.204c-3.039,0-5.503,2.464-5.503,5.503c0,3.039,2.464,5.503,5.503,5.503h139.322 c3.039,0,5.503-2.464,5.503-5.503C192.029,131.759,189.565,129.295,186.526,129.295z"
                  ></path>
                  <path
                    d="M47.204,104.959h82.709c3.039,0,5.503-2.465,5.503-5.504c0-3.039-2.464-5.502-5.503-5.502H47.204 c-3.039,0-5.503,2.463-5.503,5.502C41.701,102.494,44.165,104.959,47.204,104.959z"
                  ></path>
                  <path
                    d="M47.204,69.615h82.709c3.039,0,5.503-2.463,5.503-5.502c0-3.039-2.464-5.504-5.503-5.504H47.204 c-3.039,0-5.503,2.465-5.503,5.504C41.701,67.152,44.165,69.615,47.204,69.615z"
                  ></path>
                  <path
                    d="M5.488,306.568h222.754c3.031,0,5.488-2.457,5.488-5.488V87.843l0,0l0,0c0-0.008-0.001-0.015-0.001-0.022 c-0.001-0.177-0.01-0.353-0.027-0.525c-0.013-0.134-0.036-0.265-0.059-0.396c-0.008-0.045-0.012-0.091-0.02-0.136 c-0.031-0.154-0.071-0.308-0.115-0.459c-0.006-0.02-0.01-0.04-0.016-0.061c-0.047-0.15-0.102-0.299-0.16-0.446 c-0.008-0.019-0.014-0.039-0.021-0.058c-0.057-0.138-0.122-0.271-0.191-0.402c-0.014-0.027-0.025-0.057-0.04-0.084 c-0.064-0.119-0.136-0.234-0.208-0.349c-0.024-0.037-0.045-0.077-0.069-0.113c-0.069-0.103-0.146-0.202-0.223-0.301 c-0.033-0.043-0.064-0.089-0.098-0.132c-0.095-0.115-0.197-0.225-0.303-0.333c-0.02-0.021-0.036-0.043-0.057-0.063l-73.174-73.173 c-0.127-0.127-0.26-0.246-0.397-0.359c-0.036-0.029-0.075-0.055-0.111-0.083c-0.105-0.082-0.211-0.164-0.32-0.237 c-0.032-0.021-0.067-0.04-0.1-0.061c-0.118-0.076-0.238-0.15-0.361-0.217c-0.022-0.012-0.047-0.021-0.069-0.033 c-0.137-0.071-0.275-0.139-0.417-0.197c-0.016-0.007-0.032-0.012-0.047-0.018c-0.15-0.061-0.303-0.116-0.457-0.164 c-0.018-0.005-0.035-0.008-0.053-0.013c-0.153-0.046-0.309-0.086-0.467-0.118c-0.043-0.008-0.089-0.012-0.132-0.02 c-0.133-0.023-0.266-0.047-0.4-0.06c-0.181-0.019-0.364-0.028-0.548-0.028l0,0H5.488C2.457,9.183,0,11.64,0,14.671V301.08 C0,304.111,2.457,306.568,5.488,306.568z M214.995,82.357l-54.434,0.006l-0.003-54.441L214.995,82.357z M10.976,20.16h138.605 l0.004,67.692c0,1.456,0.578,2.852,1.607,3.881c1.029,1.028,2.426,1.606,3.881,1.606l67.682-0.008v202.261H10.976V20.16z"
                  ></path>
                </g>
              </g></svg
            >
          </div>
          <div>
            <h5>Logistics Partnerships</h5>
            <p>
              Facilitate the discovery and onboarding of ideal logistics
              partners, reducing the time lag in implementation and enhancing
              delivery capabilities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="merchant-benefits" class="bg-white">
    <BenefitsMerchants />
  </section>
  <section class="bg-lightGray">
    <div
      class="container section-container flex flex-col justify-center gap-24"
    >
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1500ms]"
      >
        Don't Take Our Word For It
      </h2>
      <div class="flex flex-wrap items-center justify-between gap-5">
        <div
          class="fade relative flex flex-col items-center space-y-6 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded-xl shadow-md bg-white group-hover:bg-primaryOrange group-hover:text-white duration-300 h-[250px] ease-out
            after:content-[''] after:absolute after:bg-caret after:bg-no-repeat after:w-5 after:-bottom-5 after:h-5 after:invisible after:opacity-0 group-hover:after:opacity-100 group-hover:after:visible after:duration-200"
          >
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve"
            >
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h5 class="text-2xl font-semibold">Name</h5>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="fade relative flex flex-col items-center space-y-6 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded-xl shadow-md bg-white group-hover:bg-primaryOrange group-hover:text-white duration-300 h-[250px] ease-out
          after:content-[''] after:absolute after:bg-caret after:bg-no-repeat after:w-5 after:-bottom-5 after:h-5 after:invisible after:opacity-0 group-hover:after:opacity-100 group-hover:after:visible after:duration-200"
          >
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve"
            >
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h5 class="text-2xl font-semibold">Name</h5>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="fade relative flex flex-col items-center space-y-6 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]"
        >
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded-xl shadow-md bg-white group-hover:bg-primaryOrange group-hover:text-white duration-300 h-[250px] ease-out
        after:content-[''] after:absolute after:bg-caret after:bg-no-repeat after:w-5 after:-bottom-5 after:h-5 after:invisible after:opacity-0 group-hover:after:opacity-100 group-hover:after:visible after:duration-200"
          >
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve"
            >
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h5 class="text-2xl font-semibold">Name</h5>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div
        class="fade relative bg-gradient-to-br from-primaryOrange from-0% to-customYellow to-100% flex flex-col items-center justify-center gap-14 w-full rounded-lg px-10 shadow-black/30 shadow-lg sm:px-24 py-24 md:min-h-[450px] overflow-hidden z-10 after:content-[''] after:absolute after:h-full after:w-full after:bg-digital_bg2 after:opacity-90 after:bg-cover after:bg-no-repeat after:bg-center after:-z-10"
        data-animation="animate-fade-up animate-duration-[1500ms]"
      >
        <h1 class="text-white text-center text-2xl sm:text-4xl">
          Boost Customer Loyalty with Reliable Deliveries.
        </h1>
        <ButtonOutline href="/en/registration/merchants" text="Start Now" />
      </div>
    </div>
  </section>
</Layout>
<script src="../../../Script/BlurredImage.js"></script>
