<!-- ---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="التسجيل | موظفين" lang="ar">
  <section
    class="bg-joinUs_mobile lg:bg-joinUs bg-no-repeat bg-cover bg-center pt-20"
  >
    <div
      class="container section-container flex items-center justify-center fade"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div
        class="flex flex-col items-center justify-center gap-14 lg:gap-24 py-8 px-5 lg:flex-row backdrop-blur-sm outline outline-1 outline-white lg:px-10 rounded-2xl"
      >
        <div
          class="flex flex-col gap-y-4 w-full sm:w-[500px] lg:w-1/2 text-right"
          data-animation="animate-fade-left animate-duration-[2000ms]"
        >
          <div class="space-y-1">
            <h3>نحن نوظف</h3>
            <h2 class="text-white text-3xl lg:text-4xl">انضم إلى فريقنا</h2>
          </div>
          <p class="text-white">
            انضم إلى فريقنا الديناميكي وساهم في تشكيل مستقبل إدارة التوصيل.
            مهاراتك وشغفك يمكن أن تحدث فرقًا معنا!
          </p>
          <div class="space-y-2 visible" id="availability-div">
            <label for="availability" class="text-white">الوظائف المتاحة:</label
            >
            <select
              name="availability"
              id="availability"
              class="bg-white text-gray-900 text-sm rounded-lg border-0 outline-0 block w-full p-2.5"
              required
            >
              <option value="exist" disabled selected
                >اختر الوظيفة المتاحة</option
              >
              <option value="1">الوظيفة 1</option>
              <option value="2">الوظيفة 2</option>
            </select>
          </div>
        </div>
        <div class="w-full sm:w-[500px] lg:w-1/2 overflow-hidden">
          <form action="" id="form">
            <div class="text-white space-y-6 text-right">
              <div class="space-y-2">
                <label for="fullName">الاسم الكامل:</label>
                <input
                  type="text"
                  name="fullName"
                  id="fullName"
                  class="rounded-lg p-2.5 w-full border border-white text-black outline-0"
                  placeholder="اسمك الكامل"
                  required
                />
              </div>
              <div class="space-y-2">
                <label for="email">البريد الإلكتروني:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="rounded-lg p-2.5 w-full border border-white text-black outline-0"
                  required
                  placeholder="بريدك الإلكتروني"
                />
              </div>
              <div class="space-y-2">
                <label for="message">رسالتك:</label>
                <textarea
                  id="message"
                  rows="4"
                  minlength="10"
                  maxlength="255"
                  class="block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg border border-white outline-0"
                  placeholder="أخبرنا المزيد عن نفسك..."></textarea>
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-white"
                  for="file_input"
                >
                  تحميل سيرتك الذاتية (PDF)
                </label>
                <input
                  class="block w-full text-sm text-gray-500 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none"
                  id="file_input"
                  type="file"
                  accept="application/pdf"
                />
              </div>
              <div class="pt-5">
                <button type="submit" value="Submit" class="button-regular">
                  إرسال
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>
<style>
  input[type="file"]::file-selector-button {
    @apply cursor-pointer border-0 bg-primaryOrange py-2 text-white;
  }
</style>
 -->
